body{
	font-family: '微软雅黑';
	padding-top: 90px;
}
// 公共头部和底部
header{
	width: 100%;
	height: 90px;
	background-color: #475778;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	.header-main{
		width: 1200px;
		height: 100%;
		margin: 0 auto;
		.header-logo{
			height: 60px;
			margin-top: 15px;
			float: left;
			cursor: pointer;
		}
		.header-btn-nav{
			float: left;
			ul{
				li{
					width: 90px;
					height: 64px;
					margin-top: 13px;
					float: left;
					display: flex;
					flex-direction: column;
					background-color: #5B6E95;
					border-radius: 4px;
					margin-right: 20px;
					cursor: pointer;
					img{
						width: 25px;
						height: 25px;
						display: block;
						margin: 8px auto;
					}
					span{
						display: block;
						width: 100%;
						text-align: center;
						font-size: 14px;
						color: #fff;
					}
				}
			}
		}
		.header-outIn{
			float: right;
			width: 90px;
			height: 100%;
			display: flex;
			flex-direction: column;
			border-left: 2px solid #667594;
			border-right: 2px solid #667594;
			cursor: pointer;
			img{
				display: block;
				margin: 15px auto;
				width: 30px;
				height: 30px;
			}
			span{
				display: block;
				width: 100%;
				text-align: center;
				font-size: 14px;
				color: #fff;
			}
		}
		.header-account{
			float: right;
			margin-top: 24px;
			width: 220px;
			position: relative;
			>img:nth-child(1){
				width: 33px;
				height: 33px;
				float: left;
				margin-right: 10px;
				margin-top: 2px;
			}
			div{
				display: flex;
				flex-direction: column;
				font-size: 14px;
				margin-left: 10px;
				span:nth-child(1){
					color: #AACAFF;
					max-width: 120px;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
				}
				span:nth-child(2){
					color: #fff;
					max-width: 120px;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
				}
			}
			img:nth-child(3){
				width: 24px;
				height: 24px;
				display: block;
				position: absolute;
				right: 20px;
				top: 10px;
				cursor: pointer;
			}
		}
	}
}
footer{
	width: 100%;
	height: 120px;
	background-color: #F2F2F2;
	.footer-main{
		width: 1200px;
		height: 100%;
		margin: 0 auto;
		.footer-left{	
			float: left;	
			width: 80%;
			margin-top: 35px;
			>p{
				font-size: 16px;
				margin-bottom: 20px;
			}
		}
		.footer-right{	
			float: right;
			width: 20%;
			>div{
				float: right;
				display: flex;
				flex-direction: column;
				margin-right: 15px;
				margin-top: 15px;
				img{
					display: block;
					width: 75px;
					height: 75px;
				}
				span{
					display: block;
					width: 75px;
					text-align: center;
					margin-top: 10px;
				}
			}
		}
	}
}
//900px弹窗
.alert-shade{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0,0,0,0.6);
	top: 0;
	left: 0;
}
.alert-tit-900{
	width: 900px;
	height: 50px;
	background-color: #E3E8ED;
	position: fixed;
	top: 200px;
	z-index: 10000;
	left: 50%;
	margin-left: -450px;
	h3{
		height: 20px;
		color: #4F7AA6;
		font-size: 22px;
		font-weight: 700;
		border-left: 4px solid #4F7AA6;
		margin-top: 15px;
		line-height: 21px;
		padding-left: 10px;
	}
	.alert-close{
		width: 67px;
		height: 67px;
		border-radius: 4px;
		background-color: #fff;
		position: absolute;
		right: -70px;
		top: 0;
		cursor: pointer;
		img{
			display: block;
			width: 22px;
			height: 22px;
			margin: 0 auto;
			margin-top: 22px;
		}
	}
}
//公共主按钮列表			
#main-btn-nav{
	width: 100%;
	margin-bottom: 10px;
	ul{
		li{
			float: left;
			width: 120px;
			height: 36px;
			border-radius: 4px;
			background-color: #fff;
			line-height: 36px;
			text-align: center;
			margin-right: 10px;
			color: #fff;
			background-color: #28C7D5;
			font-size: 14px;
			cursor: pointer;
		}
		li:nth-child(1){
			background-color: #ACB2BB;
		}
		li:last-child{
			margin-right: 0;
		}
		// li:nth-child(2){
		// 	background-color: #FFA40E;
		// }
	}
}
// 版心控制
.big-view{
	width: 1200px;
	background-color: #F2F2F2;
	margin: 0 auto;
	margin-top: 90px;
	.view-banner{
		padding: 10px 20px 24px;
	}
}
// title-fullsize
#title-fullsize{
	width: 100%;
	height: 50px;
	background-color: #7288A3;
	h3{
		height: 18px;
		border-left: 4px solid #fff;
		font-size: 20px;
		font-weight: 700;
		color: #fff;
		margin-top: 16px;
		line-height: 20px;
		padding-left: 8px;
	}
}